<p>Listado de heroes</p>

<!-- <div *ngIf="heroesBorrados !== ''">
    <h3 style="color: red">heroe borrado: </h3>
    <small> {{heroesBorrados}} </small>
</div>

<br>

     *ngIf="!heroesBorrados"
<div *ngIf="heroesBorrados == ''">
    <h3 style="color: blue">No se ha borrado nada. </h3>
</div>

<br> -->

<div *ngIf="heroesBorrados !== ''; else noBorrado">
    <h3 style="color: red">heroe borrado: </h3>
    <small> {{heroesBorrados}} </small>
</div>

<br>

<ng-template #noBorrado>
    <h3 style="color: blue">No se ha borrado nada. </h3>
</ng-template>

<br>



<!-- *ngfor -->
<ul *ngFor="let heroe of heroes; let i = index">
    <li>{{i + 1}} - {{heroe}}</li>
</ul>


<button (click)="borrarHeroe()">
    Borrar
</button>

